@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://www.w3schools.com/lib/w3-theme-black.css');
@import url('https://www.w3schools.com/w3css/4/w3.css');
*{
    margin:0;
    padding: 0 ;
    box-sizing: border-box;
    text-decoration: none;
}
